@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    background: #0a0a0a;
    color: #fff;
    overflow-x: hidden;


    margin: 0;
    height: 100vh;
    background: url("../img/fondo.png") no-repeat center center/cover;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    top: 0px;
    z-index: 1;
    background-color: #00498076;
}

.logo-museo {
    width: 200px;
}

.logo-uptc {
    width: 180px;
}

.video_fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
    /* Asegura que el video esté detrás de otros elementos */
}

#video-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Asegura que el video cubra todo el contenedor */
}

#tsparticles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/* css btn */
.btn {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    border-radius: 30px;
    background: linear-gradient(90deg, #f5d46d, #d4af37);
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.4s ease;
    box-shadow: 0 0 15px rgba(245, 212, 109, 0.6);
}

.btn:hover {
    background: linear-gradient(90deg, #ffe680, #f5d46d);
    box-shadow: 0 0 25px rgba(245, 212, 109, 1);
    transform: scale(1.05);
}


.title {
    font-family: 'Roboto Slab', serif;
    font-size: 2.3rem;
    color: #ffffff;
    text-shadow: 0 0 15px rgba(245, 212, 109, 0.8);
    margin-bottom: 0.5rem;
    text-align: center;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #ddd;
    text-align: center;
}

/* book css */

.audio-button {
    position: absolute;
    bottom: calc(10% - 24px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.2s ease;
}

.audio-button:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#flipbook {
    width: 90vw;
    height: 90vh;
    margin: auto;
    position: relative;
    top: -90px;
}

.page {

    /* background-color: #dd0c0c; */
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
}

.page {
    background-image: url('../img/fondo_page.jpg');

    /* ruta relativa al HTML */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #000;
    /* o blanco si tu imagen es oscura */
    font-family: 'Roboto Slab', serif;
    padding: 2rem;
    box-sizing: border-box;
}

.portada {
    background-image: url('../img/portada-paya.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    font-weight: bold;
}

.tabla-contenido {
    position: absolute;
    top: 130px;
    list-style: none;
    padding: 0;
    text-align: justify;
    line-height: 2em;
    /* margin-top: 2rem; */
    font-family: 'Roboto Slab', serif;
}

.tabla-contenido li {
    margin: 0.5rem 0;
    background: url('../img/espada.png') no-repeat left center;
    background-size: 16px 16px;
    /* tamaño de la "viñeta" */
    padding-left: 25px;
    /* separa el texto de la imagen */
}

.tabla-contenido a {
    color: #8b4513;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s ease;
}

.tabla-contenido a:hover {
    color: #ab7b0a;
    text-decoration: underline;
}

.character {
    width: 50%;
    height: 50%;
    filter: sepia(70%) contrast(85%) brightness(90%) saturate(70%);
    transition: filter 0.5s;
    position: absolute;
    left: calc(50% - 25%);
    box-shadow: 5px 5px 15px rgba(235, 191, 191, 0.507);
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contraportada {
    background: #5a3310;
    color: white;
    background-image: url('../img/textura-libro.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.page-content {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.page-content .parrafo {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 260px);
    font-size: 1rem;
    line-height: 1.8;
    text-align: justify;
    max-width: 500px;
    font-family: 'Roboto Slab', serif;
}
.page-content .parrafoCenter {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    font-size: 1rem;
    line-height: 2;
    text-align: center;
    max-width: 500px;
    font-family: 'Roboto Slab', serif;
}
.page-number1 {
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 10px;

    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 2px 10px;
    font-weight: 400;
    color: #fff;
    background: linear-gradient(90deg, #b8934fdb, #d4b46e);
    /* efecto dorado */
    border-radius: 6px;
    font-family: "Roboto Slab", serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: inline-block;
    z-index: 10;
}

.page-number2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 2px 10px;
    font-weight: 400;
    color: #fff;
    background: linear-gradient(90deg, #b8934fdb, #d4b46e);
    /* efecto dorado */
    border-radius: 6px;
    font-family: "Roboto Slab", serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: inline-block;
    z-index: 10;
}

.title_escena {
    position: relative;
    top: -350px;
    z-index: 1;
    color: #ab7b0a;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
}

.subtitle {
    position: relative;
    /* top: -325px; */
    z-index: 1;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    z-index: 233;
}

.page-content .img_escena {
    position: absolute;
    top: -1px;
    left:-1px;
    width: 600px;
    height: 550px;
    z-index: 0;
    /* filter: grayscale(100%) contrast(160%) brightness(1.1); */
    mix-blend-mode: multiply;
}

.page-content h1 {
    position: relative;
    top: -240px;
    z-index: 1;
    font-family: 'Roboto Slab', serif;
    font-size: 2.5em;
    color: #ab7b0a;
    /* margin-bottom: 20px; */
}

.page-content h2 {
    position: relative;
    z-index: 1;
    bottom: -50px;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-size: 2.3rem;
}

.controls {
    cursor: pointer;
    z-index: 1000;
    position: relative;
    bottom: 160px;
}

.controls a {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    /* background-color: #8b4513; */
    /* color: white; */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls a .btn_opc {
    width: 100px;
    transition: filter 0.3s;
    cursor: pointer;
}

.controls a .btn_home {
    width: 60px;
    transition: filter 0.3s;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px rgb(255, 255, 255));
}

.controls a:hover img {
    filter: brightness(0.8);
    transform: scale(1.1);
    filter: drop-shadow(2px 4px 6px rgb(255, 255, 255));
}

.contraportada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    top: -150px;
}

.contraportada .museo_contra {
    width: 250px;
    margin-bottom: 20px;
}

/* efecto zoom  */
/* Imagen en la página */
.zoomable {
    max-width: 100%;
    cursor: zoom-in;
    transition: transform 0.3s ease;
}

/* Overlay para zoom */
#zoom-overlay {
    display: none;
    /* Oculto por defecto */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Imagen ampliada */
#zoom-overlay img {
    max-width: 90%;
    max-height: 90%;
    cursor: zoom-out;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
}